click==8.1.8
Flask==1.1.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==2.11.3
joblib==1.4.2
MarkupSafe==2.0.1
numpy==1.22.4
python-dotenv==1.1.0
scikit-learn==1.0.2
scipy==1.13.1
threadpoolctl==3.6.0
Werkzeug==1.0.1
